a {
    color: #84FFE4;
    text-decoration: none;
}

iron-selector.paper-drawer-panel > #drawer.paper-drawer-panel {
    background-color: #3c3c3c;
}

.dynContent {
    margin: 10px;
}

div.drawer {
    margin: 20px;
}