html, body, div {
    height: 100%;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

sascha10k-content-router.dynContent div.sascha10k-content-router {
    padding: 20px;
}

#top-menu {
    background-color: #3c3c3c;
    align-content: flex-start;
}

#top-menu .h1 {
    vertical-align: middle;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.4em;
    height: 100%;
}

#top-menu button {
    background-color: #84FFE4;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

#top-menu button:hover {
    background-color: #84FFFF;
}

#top-menu .horizontal-divider {
    margin:auto;
    margin-left: 10px;
}

#logo {
    height: 90%;
    border-radius: 200px;
    margin: 0px;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 2%;
    width: 100%;
    background-color: #3c3c3c;
    vertical-align: middle;
    text-align: center;
}

.horizontal-divider {
    height: 100%;
    width: 0px;
    border: 1px solid #84FFE4;
    margin-left: 5px;
    maring-right: 5px;
}

/*
    LANDING PAGE
*/
#landing_top {
    position: relative;
    z-index: -10;
    height: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/cover1.jpg");
}

#how_it_works {
    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 2%;
}

#how_it_works img {
    
    width: 400px;
}

#how_it_works div#imgaes { 
}

div#images div {
    display: inline;
}

div#images div span {
    display: inline-block;
    width: inherit;
}

/*
    STATISTICS
*/

paper-button {
    min-width: 35px;
    height: 35px;
    padding: 5px 0 0 0;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #84FFE4;
}